body {
	font-family: tahoma;
}

.out {
	position: absolute;
	top: 30px;
	left: 50px;
}

.blog {
	border-radius: 10px;
	background: transparent;
	backdrop-filter: blur(10px);
	text-shadow: 2px 2px 2px rgb(0 0 0/ 50%);
	color: white;
	position: relative;
	padding: 1px;
	background-color: rgb(255 0 0/ 25%);
	margin-right: 300px;
	left: 25px;
}

.top {
	font-family: 'Comic Sans MS';
}

.copy {
	position: absolute;
	bottom: auto;
}